.hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: left;
    max-width: 500px;
    z-index: 1;
    margin-right: 450px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    
  }
  
  .hero-content .highlight {
    color: #8a56ac; /* Adjust highlight color */
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .reserve-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #8a56ac; /* Adjust button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reserve-button:hover {
    background-color: #734589; /* Adjust hover color */
  }
  
  .bus-image {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 400%;
    max-width: 600px;
    z-index: 10;
    
  }
