.form-group{
    text-align: center;
}
.form-control{
    text-align: center;
    
}
.form-control{
    text-align: center;
}
.btnbt{
    text-align: center;
}
.code
{

height:600px;
width:1220px;
background-size: cover;
}
